.feedbackBtn {
  padding: 8px 16px;
  background-color: black;
  color: #34C94B;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.feedbackBtn:hover {
  opacity: 0.85;
}
